@import './variables';
// 
@mixin cardStyle {
    background: $cardColor;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    width: 95%;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
}

@mixin weatherStatus {
    background: $secondaryColor-lighter;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
}

@mixin badWeatherStatus {
    background: $dangerColor;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
}