$primaryColor: rgba(255, 221, 137, 1);
$dangerColor: rgba(255, 200, 47, 0.685);
$secondaryColor: rgba(0, 89, 255, 0.699);
$secondaryColor-lighter: rgba(80, 141, 255, 0.6);
$cardColor: rgba(255, 255, 255, 0.4);